<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<div class="SectionHeading" id="Multi-step questions"> Multi-step Questions
</div>
<p>Multi-step questions are a series questions which are derived from a common introduction, and the answer to one question in the series is dependent on the answer to a previous question in the series</p>