<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<div class="SectionHeading" id="Multpart questions"> Multipart Questions
</div>
<p>Multipart questions are a set questions which are derived from a common introduction, but unlike multi-step questions, these questions have no bearing on each other</p>