<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("About Quadbase") %>

<center>
<div style="width:800px; text-align:left">
<p>Quadbase [<b>Qu</b>estion and <b>A</b>nswer <b>D</b>ata<b>base</b>] is a place where you can author, publish and share exercise problems  for use in teaching materials. Innovative features in QuADBase empower you to easily and quickly search the repository for context appropriate questions, create new questions for your students, and even adapt existing exercises for use in your class. </p>

<p>Drawing inspiration from the open-source software movement and initiatives like Linux and Mozilla, all content in QuADBase is open, licensed under the <a href=" http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution License</a>. This makes it easy for authors to share their work - allowing others to use and reuse it legally - while still receiving recognition and attribution for their work.</p>


</div>

<a href="http://creativecommons.org/licenses/by/3.0/"><%= image_tag "CC-by.jpg", :border => 0 %></a> 
</center>
<div class="sectionHeadingNoUnder">What is the purpose of this site?</div>
<center>
<div style="width:800px; text-align:left">
<p>Quadbase is a repository of different types of question and answer exercies. The repository offers:
<ul>
<li>viewing and editing capabilities</li>
<li>versioned access to questions via permalinks</li>
<li>automated author attribution</li>
<li>Creative Commons Licensing</li>
</ul>
</p>
<p>
It is not meant to be a system where users work through questions and results/grades are kept.
</p>
<p>
<b>However</b>, Quadbase is intended to be a content provider for other sites whose goal is to provide workable problems to its users. Quadbase has simple mechanisms whereby educators (from companies writing learning software to individual K-12 teachers) can embed Quadbase questions directly in their learning resources.
</p>
</div>
</center>

<div class="sectionHeadingNoUnder">Who is using this site?</div>
<center>
<div style="width:800px; text-align:left">
<p>Anyone is free to contribute to Quadbase or use the material hosted in the repository!</p?
<p>The <a href="http://spenlist.org">Signal Processing Education Network</a> (SPEN) and the <a href="http://dsp.rice.edu/lml">Learning Machines Lab</a> at Rice University are spearheading the development of this resource with funding from the National Science Foundation CyberInfrastructure Training, Education, Advancement, and Mentoring program and Google.</p>

<table>
<tr>
	<td align="center">
	  <a href="http://spenlist.org"><%= image_tag "citeam_spen_logo_c_v1.png", :border => 0 %></a>
	</td>
	<td>SPEN was created to break away from traditional education approaches and build a new framework where educators, students, and industry professionals collaborate to unify and strengthen the SP curriculum, make it more open and interactive, and share best practices. Quadbase is part of this new technology framework used by SPEN in addition to interactive vitrual <a href="http://lablets.org">lablets</a> and online etextbooks in <a href="http://cnx.org">Connexions</a>.</td>
</tr>
<tr>
<td><a href="http://dsp.rice.edu/lml"><%= image_tag "lml_logo.png", :border => 0 %></a></td>
<td> The Learning Machines Lab is uniting principles of Cognitive Science with Machine Learning technologies to create intelligent learning materials that learn about you as you learn from them. LML is creating engaging etextbooks that integrate text, video, simulations, and exercises from Quadbase's repository.Using these tools and the LML <i>Personalized Learning System</i> (PLS) will provide customized learning plans for students based on each user's background, context, and learning goals. The system will couple the latest advances in cognitive science, machine learning, and open educational resources (OER). 
</td>
</tr>
</table>

