<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("About Quadbase Beta") %>

<center>
<div style="width:800px; text-align:left">
<p><%= link_to "Quadbase", about_path %> is still in the beta testing stages. This means that you might run into bugs while using the website. Please don't be afraid to <%= link_to "contact us", contact_path %> regarding any issues or questions about the system.</p>
</div>
