<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%=pageHeading("Comments")%>
<div class= "sectionHeading" id="type_of_comments">Comments and Where One Can Comment</div>
<p>Comments are a good way to provde feedback and communicate your thoughts to authors and other Quadbase users. In Quadbase, comments can be made on:
<ol>
	<li>Question drafts</li>
	<li>Published exercise</li>
	<li>Solutions to exercise</li>
	<li>Folder</li>
</ol>
</p>
<p>Posting a comment is easy. Next to each of the items listed above, there is a "resource detail" link. Clicking on this link will give you specifics about this item. At the bottom of this page under the "Discussion" heading there is an "add a message to the discussion" link, click this link in order to add a comment.</p>
<p> In the dialogue box that appears, post your comment. When you are done, click the post button under the dialogue box. The post will be visible on this "resource detail" page</p>

<div class="notebox">
<b>Comment Responsibilities:</b>
<p>Civil and decorous conduct is expected of all of our users. Any user is free to post comments on Quadbase, but the administrator is responsible for managing all comments, and maintains the right to copy, re-post, or delete comments that have been made.</p>
<p>This being said, the user has the responsibility of making comments that add something of value to what is being commented on. Any inappropriate or offensive comments will be promptly removed. Repeat offenders will have their rights revoked and will no longer be able to make comments.</p>
</div>
