<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<%= pageHeading("Contact Us") %>

<p>Use the form below to send a message to the Quadbase team.</p>

<%# TODO %>
[TODO Form placeholder]