<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<%= pageHeading("FAQ") %>

<div class="sectionHeadingNoUnder">I only see how to create and view questions.  Where do I go to work questions?</div>

<p>Quadbase is a repository of questions that offers viewing and editing capabilities, versioned access to questions (permalinks), author attribution, and question licensing.  It is not meant to be a system where users work through questions and results/grades are kept.
  
<p><b>However</b>, Quadbase is intended to be a content source for other sites whose goal is to provide workable problems to its users.  Quadbase has simple mechanisms whereby educators (from companies writing learning software to individual K-12 teachers) can embed Quadbase questions directly in their learning resources.</p>
  