<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Legal FAQ") %>


<b>Frequently asked IP (Intellectual Property) and legal questions</b>
<br/>

<dl>
<dt><b>Why do I have to agree to your license before I can publish my work?</b><dt>
    <dd>Our goal is to provide and maintain a commons where individuals and communities worldwide can create and freely share exercises. The Creative Commons Attribution license or Creative Commons Zero license that you and every author must agree to enables the exercises to be as reusable as possible. All the exercises are accessible to anyone without restriction and any author can use the exercises, share them with others, or create derivative questions, customized and personalized for their context. <br/>
    The licenses also reduce everyone's risk, because it clarifies what the legal uses of the materials are. Without a license, everyone is forced to assume that the full protection of copyright law applies to your work, even if you intend to share it, or wanted it to be in the public domain. The license makes clear to lawyers and to other readers that this is your intention.<br/><br/></dd> 

<dt><b>Why does Quadbase have two licenses</b></dt>
<dd>Quadbase strives to be as open as possible, but we realize that authors have different desires when it comes to receiving credit for their work. Quadbase gives authors the option of choosing the Creative Commons Attribution license or the Creative Commons Zero (CC0) license. We understand that some authors would like to control how the questions they produce are  used, while others prefer to make their questions available without any copyright restrictions.   
</br></br></dd>

<dt><b>Why should I make my exercises available under a Creative Commons Attribution license, instead of publishing it with the full protection of copyright law?</b></dt>
    <dd>There are several reasons. You might like the idea of others building upon your work, or the notion of contributing to an intellectual commons. As the community grows, you and other authors will have the satisfaction of helping develop new ways to collaborate. Another reason is that you may want your exercises to be copied and shared, so your ideas can spread around the world. The Creative Commons Attribution license can help you implement such strategies while you retain the ultimate control of your copyright.<br/><br/></dd>

<dt><b>Why should I license my exercise under a Creative Commons Zero license, instead of publishing it with the full protection of copyright law.</b></dt>
<dd>In addition to reasons of sharing and reuse associated with choosing the Creative Commons  Attribution license, but Authors who choose to license their works under the Creative Commons zero license go one step further and agree to "waive all copyrights and related or neighboring rights that they have over their work". The Creative Commons Zero license places the work in the public domain. In addition, many authors choose this license because the development time for an exercise is typically very short.</br></br></dd>    
     
<dt><b>What is Creative Commons?</b></dt>
    <dd>Creative Commons is a non-profit corporation that promotes the creative licensing and re-using of intellectual works. To quote from their Web site: "Creative Commons is a new system, built within current copyright law, that allows you to share your creations with others and use music, movies, images, and text online that's been marked with a Creative Commons license."</br></br><dd> 

<dt><b>Is the content copyrighted and who owns the copyright?</b></dt>
    <dd>All exercises licensed with the Creative Commons Attribution license are copyrighted and the author retains the copyright of his or her materials. Under this license the author gives others the freedom to copy, distribute, and display the work, and to make derivative works, as long as they give the original author credit.
    	
Exercise released under the Creative Commons Zero license are not copyrighted and the author does not retain the copyright of his or her materials. Under this license the author gives others the freedom to copy, distribute, ad display the work, and make derivative works, and they are not required to give the original author credit.
    	<br/><br/></dd> 

<dt><b>How do authors license their work in the content commons?</b></dt>
    <dd>Before you can create exercises, you must agree to one of the license that applies to all the content.<br/><br/></dd> 

<dt><b>Can I distribute or use my exercises elsewhere?</b></dt>
    <dd>Yes. Both of the licenses are "non-exclusive"-- which means that you are free to distribute your material under a different license elsewhere, publish it for profit, or transform it without endangering the version in our repository.<br/><br/></dd> 

<dt><b>How do I control what changes are made to my modules?</b></dt>
    <dd>Only persons who hold a role on your exercise have permission to publish an updated version of your module. As the author of a module, you determine who holds a role on your exercise. The licenses do allow another person to make a Derived Copy of any exercise published in our repository. A Derived Copy is a copy of an exercise that is modified and published as a new exercise under the new author's name. Your original exercise is not changed and the Derived Copy contains a statement of attribution to you and a link to your original exercise.<br/><br/></dd> 

<dt><b>But wait, I thought the licenses gave people the right to make their own derivative copy of my work?</b></dt>
    <dd>True, another author can indeed make a derived copy of your work according to the license. However, if you determine that someone has created a derived copy that is incorrect, or contradictory with your own, or worse, is defamatory or otherwise offensive, the licenses gives you the legal right to ask that person to remove your name from the module -- but not to demand that he or she change it as you wish. One way to avoid creation of such derived copies is to invite these other authors into your list and develop a dialog with them as collaborators or co-authors.<br/><br/></dd>
    
<dt><b>What prevents some dishonest person from stealing my exercises and claiming it as theirs?</b></dt>
    <dd>Nothing except the copyright law. The licenses are based on existing copyright law and your exercises have the same legal protections and legal standing as a copyrighted work that is published outside of our repository. You may actually run less risk using our repository than simply putting your work on your own Web page, because the licenses are clearly visible and clearly explain the uses people may legally make of your work. Strictly speaking, fraud and plagiarism are not the subject of copyright law, but copyright law is a good first defense.<br/><br/></dd> 

<dt><b>Can people make money off of my work?</b></dt>
    <dd>It is possible, but to be effective at all the license we use must allow some "commercial" uses. Consider the situation in which a printing service, such as FedEx Kinko's, offers to print your work so that your students may have access to hard copies. Without a license that allows commercial use, the service could not charge a fee to recover their printing, binding, and handling costs.<br/><br/></dd> 

<dt><b>That's fine, but what if some huge publisher decides to publish my questions?</b></dt>
    <dd>If a publisher wants to include your module in a book of collected materials, they have that right according to the license, but remember that they are required to list you as the author and copyright holder, if you have chosen the Creative Commons Attribution license. The Creative Commons Zero License does not require this. Our experience also suggests that most reputable publishers would want to re-negotiate a new license with you in that case.<br/><br/></dd>
    
<dt><b>Does the Creative Commons Attribution license affect fair use rights?</b></dt>
    <dd>No. The licenses includes the statement: "Nothing in this license is intended to reduce, limit, or restrict any rights arising from fair use, first sale, or other limitations on the exclusive rights of the copyright owner under copyright law or other applicable laws." Fair use, the first sale doctrine, and other such limitations apply whether a copyright holder consents to them or not.<br/><br/></dd> 

<dt><b>Can I include material in my exercises that was originally published outside of the repository and copyrighted?</b></dt>
    <dd>This simple question raises some complex legal points. It can best be answered by the copyright holder or an intellectual property attorney. We can tell you that any content you put into our repository is licensed under the Creative Commons Attribution 3.0 License or Creative Commons Zero License, which means anything you use directly in your content must to be legally publishable under that license. The University of Texas System has a <a href="http://www.utsystem.edu/ogc/intellectualproperty/cprtindx.htm">Copyright Crash Course</a> and a <a href="http://www.utsystem.edu/ogc/intellectualproperty/copypol2.htm">Copyright Tutorial</a> that can provide you with general information about copyright and reuse of copyrighted material. If you do obtain permission to use copyrighted material in your exercises, we recommend that you include a note with the material that indicates who holds the copyright on the material.<br/><br/></dd> 

<dt><b>Does "fair use" enable me to use copyrighted material in my execises?</b></dt>
    <dd>Maybe yes, maybe no. There are many factors to consider before you can claim "fair use" for your reuse of copyrighted material. This is another question that can best be answered by the copyright holder or an intellectual property attorney.<br/><br/></dd>
    
<dt><b>What legal standing does the Creative Commons license have outside of the United States?</b></dt>
    <dd>The Creative Commons license was crafted to be enforceable in as many jurisdictions as possible. That said, Creative Commons cannot account for every last nuance in the world's various copyright laws, at their current level of resources. The Creative Commons license does contain "severability" clauses -- meaning that, if a certain provision is found to be unenforceable in a certain place, that provision and only that provision drops out of the license, leaving the rest of the agreement intact.<br/><br/></dd> 
</dl>

<i>This page is based on <a href="http://cnx.org/help/ip">Legal FAQ</a> by Connexions.</i> 