<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%# Clients of this partial must supply the following variables:
  # question
  # answer_choice
%>

<% chosen_answer = question.answer_choices[answer_choice] %>
<% answer_credits = question.answer_choices.collect{|ac| ac.credit} %>
<% correct_answer_choice = answer_credits.index(answer_credits.max) %>
<% correct_answer = question.answer_choices[correct_answer_choice] %>

<div class="answer_choice">
  <p>You chose answer <b>(<%= choice_letter(answer_choice) %>)</b></p>
  <div class="question" style="margin-left:30px">
    <%= chosen_answer.variated_content_html.html_safe %>
  </div>
</div>

<% if chosen_answer == correct_answer %>
  <span style="color:green"><p><b>Good job! That is the right answer!</b></p></span>
  
  <% unless question.solutions.empty? %>
    <p>Check out the solutions below for other approaches to solving 
      this problem.</p>
  <% end %>
<% else %>
  <span style="color:#b22222"><b>Unfortunately, that is not the right answer.</b></span>

  <div class="answer_choice">
    <p>The correct answer is <b>(<%= choice_letter(correct_answer_choice) %>)</b></p>
    <div class="question" style="margin-left:30px">
      <%= correct_answer.variated_content_html.html_safe %>
    </div>
  </div>
  
  <% unless question.solutions.empty? %>
    <p>Study the solutions below to see how to solve this problem.</p>
  <% end %>
<% end %>
