<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Question #{@question.to_param}")%>


<%= render :partial => 'show', :locals => {:main_question => @main_question,
                                           :question => @question,
                                           :answer_text => @answer_text,
                                           :answer_confidence => @answer_confidence} %>

<% if @solutions.nil? %>
  <div id="answer_choices_div">
    <%= render :partial => 'answer_choices', :locals => {:main_question => @main_question,
                                                         :question => @question,
                                                         :answer_text => @answer_text,
                                                         :answer_confidence => @answer_confidence,
                                                         :list => @list,
                                                         :part => @part,
                                                         :seed => @seed} %>
  </div>
  
  <div id="solutions_and_navigation_div"></div>
<% else %>
  <div id="answer_choices_div"></div>

  <div id="solutions_and_navigation_div">
    <%= render :partial => 'solutions_and_navigation',
               :locals => {:solutions => @solutions,
                           :list => @list,
                           :next_question => @next_question,
                           :next_part => @next_part} %>
  </div>
<% end %>
