<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Question #{@question.to_param}")%>


<%= render :partial => 'show', :locals => {:main_question => @main_question,
                                           :question => @question,
                                           :answer_text => @answer_text,
                                           :answer_confidence => @answer_confidence,
                                           :part => @part} %>

<% if !@question.answer_choices.empty? %>
  <%= render :partial => 'answer_choices', :locals => {:main_question => @main_question,
                                                       :question => @question,
                                                       :answer_text => @answer_text,
                                                       :answer_confidence => @answer_confidence,
                                                       :part => @part} %>
  
  <div id="solutions_and_navigation_div"></div>
<% else %>
  <div id="answer_choices_div"></div>

  <%= render :partial => 'solutions_and_navigation',
             :locals => {:question => @question,
                         :next_question => @next_question,
                         :next_part => @next_part} %>
<% end %>
