<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Question #{@question.to_param}")%>

<%= render :partial => 'show', :locals => {:question => @question} %>

<div id="answer_choices_div"></div>

<div id="solution_div"></div>
