<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% if !question.number.nil? %>
<div class="quad-quid">
q. <%= question.number %>, 

<% if question.version.nil? %>
   unpublished 
<% else %>
  v. <%= question.version %>
  <% if question.is_latest? %>
     (LATEST)
  <% end %>
  <% if question.can_be_embargoed_by?(present_user) %>
    <br/>
    <div id="embargo">
      <%= render :partial => 'embargo_info',
                 :locals => {:question => question} %>
    </div>
  <% end %>
<% end %>
</div>
<% end %>
