<%# Copyright (c) 2011 Rice University.  All rights reserved. %>


   <td valign="top"><i>Intro text:</i></td>
   <td><%= f.text_area :content, :rows => 5, :class => "mark_it_up" %></td>
   <td valign="middle">  
      <p><%= link_to_remove_fields "Nevermind; I don't want a common intro", f %>
   </td>
   
   <script type="text/javascript">
     $(document).ready(function() {
        refresh_mark_it_up_textareas();
      });
   </script>