<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

   <%= render :partial => "#{view_dir(question)}/show", 
              :locals => {:question => question} %>
   <p></p>
   <%= render :partial => 'questions/attribution', 
              :locals => {:question => question }%>
