<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% pageHeading(question_id_text(@question)) %>

<% @errors = @question.errors %>

<% @show_source_link = true %>
<% @show_embed_link = true %>
<% @show_edit_question_link = true %>
<% @show_edit_roles_link = true %>
<% @show_publish_link = true %>
<% @show_project_link = true %>
<% @show_edit_license_link = true %>
<% @show_credit_toggle_link = true %>

<div class="quad-question">
   
  <% if @question.errors.none? %>
    <%= render :partial => "show", 
               :locals => {:question => @question} %>
  <% else %>
    This question cannot be shown because one or more errors occurred when retrieving it.
  <% end %>

<br/>

</div>

<p><%= render :partial => "shared/comments",
           :locals => {:commentable => @question.becomes(Question)} %></p>
