<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @show_question_link = true %>
<% @show_embed_link = true %>

<div class="quad-question">
   
   <%= render :partial => "#{view_dir(@question)}/source", 
              :locals => {:question => @question} %>
   <p></p>
   <%= render :partial => 'questions/attribution', 
              :locals => {:question => @question }%>

</div>
