<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Editing List") %>

<% @include_jquery = true %>

<%= render 'form' %>

<br/>
<div class="sectionHeadingNoUnder">Members</div>

<div style="padding: 0 15px">
  <%= render :partial => 'list_members/member_list' %>
</div>

<br/>

<%= link_to "Add members ...", new_list_list_member_path(@list), :remote => true %>      

<% @links = [ link_to('Show List', @list), 
              link_to('My Lists', lists_path) ] %>
