<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

The <%= link_to "Attribution", license.url %> license from <a href="http://creativecommons.org/">Creative Commons</a> fulfills this requirement, while still allowing authors to receive credit for their efforts. Please take the time to read the license and check the I agree box below before continuing.</p>

<p>I hereby allow Quadbase to distribute this content under the terms of the Creative Commons Attribution License available at <%= link_to license.url, license.url %>. I understand that in doing so I</p>

<ol>
   <li>retain my copyright in the work and</li>
   <li>warrant that I am the author or the owner or have permission to distribute the work in question and</li>
   <li>wish this work to be distributed under the terms of that license (including allowing modification of this work and requiring attribution) and</li>
   <li>agree that proper attribution of my work is any attribution that includes the authors' names and the Quadbase URL to the work.</li>
</ol>