<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<div id="upperCornerLinks">
   <%= link_to 'Show', @license %> |
   <%= link_to 'List', licenses_path %>
</div>

<%= pageHeading("Editing License") %>

<%= render 'form' %>
