<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div id="upperCornerLinks">
   <%= link_to 'List', licenses_path %>
</div>

<%= pageHeading("New License") %>

<%= render 'form' %>
