<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% messages = Message.messages_for(current_user) %>

<table id="message_table" class="list" width="100%">
   <tr>
      <th width="30%">Subject</th>
      <th width="20%"></th>
      <th width="50%">Recipients</th>
   </tr>
   <tr id="message_table_none_row" <% if !messages.empty? %>style="display:none"<% end %>>
      <td colspan="3" style="text-align:center">None</td>
   </tr>
   <% messages.each do |message| %>
     <%= render :partial => 'messages/message_list_row', :locals => {:message => message} %>
   <% end %>
</table>

<br/>

<%= link_to "New Discussion", new_message_path %>
