<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<h1>Editing logic_library</h1>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @logic_library] %> |
<%= link_to 'List', admin_logic_libraries_path %>
