<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% if !question.question_setup_id.nil? %>
  <div class="sectionHeading">Common Introduction</div>
   <div class="code-box">
      <%= simple_format question.question_setup.content %>
   </div>
<% end %>

  <div class="sectionHeading">Question Content</div>
<div class="code-box">
  <%= simple_format question.content %>
</div>

<% if !question.answer_choices.empty? %>
     <div class="sectionHeading">Answer Choices</div>
   <div style="margin-bottom:10px"></div>
   <div class="quad-answer_choices">
      <% answer_letter_code = "a".ord-1 %>
      <table width="100%">
      <% question.answer_choices.each do |ac| %>
         <tr class="quad-answer_choice">
            <td class="quad-answer_choice_index" width="10%">
               <%= (answer_letter_code += 1).chr %>)
            </td>
            <td class="code-box" width="90%">
               <%= simple_format ac.content %>
            </td>
         </tr>
      <% end %>
      </table>
   </div>
<% end %>
