<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<div id="upperCornerLinks">
   <%= link_to 'Show', @user %> |
   <%= link_to 'List', users_path %>   
</div>

<%= pageHeading("User Detail") %>

<%= render 'form' %>

Updating the information above will send the changes to the user [NOTE THIS IS NOT YET TRUE!!!].