<p>Your API key is used to access Quadbase from other systems.  Protect your API key like a password. 
You can get a new API key at any time by clicking the "regenerate" button.  Note that this will permanently
delete any existing API key you have.</p>