<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<p>Are you a busy person who has homework questions that you'd like to 
  put into Quadbase but just don't have the time?  If so, then you should
  get a Quadbase account and consider assigning a deputy.</p>
  
<p>A deputy is simply another user who can do things on your behalf
  in Quadbase.  For example, a deputy can input questions for you,
  sign you up as an author or copyright holder for questions, and 
  publish questions for you.</p>
  
<p>It is important to realize that by designating a deputy, you are 
  giving that person the right to agree to the question publishing
  license on your behalf!  Therefore it is important that you only
  give the deputy privilege to those whom you trust.</p>