<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div class="sectionHeading" id="Embed">Embed questions on any web page</div>
<p>Want to embed a workable Quadbase question on your webpage or blog? Simply copy and paste  
the associated embed code to your own site.</p> 

<div class="sectionHeadingNoUnder">To embed an individual question:</div>

	<ol>
		<li> <a href="http://www.quadbase.org/questions/new">Write</a> a new question, or 
			<a href="http://www.quadbase.org/questions">find</a> an existing question;</li>
		<li>Open the question and click <b>Embed</b>, located on the lefthand navigatiom menu;</li>
			<p><%=image_tag("embed_question.png", {:border => 1, :width => "75%", 
			:title => "Embed a question"})%></p>
		<li>Copy and paste the provided HTML code directly to your own site.</li>
	</ol>
<p>When you embed the HTML code, the workable question will also include proper 
	author attribution: </p>
<iframe src="http://quadbase.org/practice?embed=true&ids=q5346v1" width="525px" height="500px" frameborder="0"></iframe>
