<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div class="sectionHeading" id="LMS">Embed questions in online learning platform</div>
<p>Quadbase integrates seamlessly with our online learning platform. Educators can use this 
	free, easy-to-use platform to create learning plans and assign Quadbase content to 
	students. <a href="http://openstaxtutor.org/about">Learn more</a>.</p> 
