<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div class="sectionHeading" id="Matching_Questions">Matching Questions</div>
<p> Matching questions present a question and then require users to "match" answers in one column with their corresponding answer pair.</p>
<div class="sectionHeadingNoUnder">How to Write a Matching Question</div>
<br/>
<ol>
<li>Click on the "Write a question!" tab and select the second icon labeled "Matching Question".</li>
<li>You can add introductory text to your question by clicking the "Add introductory text that can be shared by multiple questions" link near the top of the page, although this is optional.</li>
<li>Add the text for your matching question in the "Question text" box.</li>
<li>... Pending release of Matching Questions</li>
<li>Once you have.... click on the save draft button at the bottom of the page, this will save a draft of your simple question.</li>
<li>Next to your draft you will find several links such as: 
	<br/>
	<ul>
		<li><b>Show Source:</b> Use this link to make the marked-up source of the question visible.</li> 
		<li><b><a href="help/authoring">Edit Question</a>:</b> Use this link to return to the question editing interface.</li>
		<li><b><a href="help#roles">Edit Roles</a>:</b> Use this link to assign the author or copyright holder of the question.</li>
		<li><b>Solutions:</b> Check out worked solutions for the questions.</li> 
		<li><b>Select License:</b> Use this link to choose the appropriate license for the question.</li>
		<li><b><a href="help#list">Open List</a>:</b> Use this link to return to the list in which the question is located.</li>
		<li><b>Publish:</b> Use this link to access the publishing interface and publish your question.</li>
		<li><b>Delete Question:</b> Use this link to delete your question.</li>
	</ul><br>
	Consult these links before you publish your question to make sure everything is set correctly.<br/>
	<br/>
	<center>
	<%=image_tag("draft.png", {:border => 1, :width => "60%", :title => "A view of a draft preview."})%>
	</center>
<br/>
	<br/></li>
<li>When you are ready to publish your question click the "Publish..." link, check the box that affirms your commitment to the terms of the license, and click the "publish question" button at the bottom of the page.</li>
<li><b>Congratulations!! You have written a matching question</b></li>
</ol>