<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div class="sectionHeading" id="Multipart_Questions">Mutipart Questions</div>
<br/>
<br/>
<p>Multi-Part Questions are comprised of several different questions that share a common introduction</p>
<div class="sectionHeadingNoUnder">How to Write a Multipart Question</div>
<br/>
<ol>
	<li>Click on the "Write a question!" tab and </li>
	<li>Select the icon on the right labeled "Multipart Question".</li>
	<li>You can add introductory text to your question by clicking the "Add introductory text that can be shared by multiple questions" link near the top of the page, although this is optional.</li>
	<li>Write your simple question in in the "Question text" box.
		<br/>
		<br/>
	<center>
		<%=image_tag("multipart_question_text.png", {:border => 1, :width => "60%", :height => "60%", :title => "The editing interface for a multipart question."})%>
	</center>
	<br/>
	<br/>
	</li>
	<li>Under the text box you will find two links, one labeled "Add a Blank Question" allows you to create a new <a href="#simple">simple question</a> for your multipart question. The other option labeled "Add an existing question", allows you to search for questions that have already been written and add them to your multipart question.
	<br/>
	<br/>
	<center>
		<%=image_tag("question_parts.png", {:border => 1, :title=>"Links to the two options that you can use to add new parts to your multipart question."})%>
	</center>
	<br/>
	<br/>
	<li>Click the "Add a Blank Question" link and a new link will appear above the link you just clicked.</li>
	<li>Select this link to edit the new part of your multipart question.</li>
	<li>Once you have finished editing the new part of your multipart question, click save draft. 
	<li>Use the navigation panel on the left side of the page to return to the main question and continue adding more parts, or save your multipart question.</li> 	
	<li>Click on the "Add an existing question" link, and a pop-up will open allowing your to search for published questions.
		<br/>
	<br/>
		<center>
			<%=image_tag("existing_question.png", {:border => 1, :width =>"75%", :title => "Interface for searching for existing questions."})%>
		</center>
	
		<br/>
	<br/>
	</li>
	<li>Search for the question you would like to add.</li>
	<li>Select the question your would like to add using the check-boxes.</li>
	<li>Click "Add Selected Questions". The questions you selected will be added to the list of question parts.
	<li>Once you have created or added all the parts for your multipart question, click on the save draft button at the bottom of the page, this will save a draft of your simple question.</li>
	<li>Next to your draft you will find several links such as: 
	<br/>
		<ul>
			<li><b>Show Source:</b> Use this link to make the marked-up source of the question visible.</li> 
			<li><b><a href="help/authoring">Edit Question</a>:</b> Use this link to return to the question editing interface.</li>
			<li><b><a href="help#roles">Edit Roles</a>:</b> Use this link to assign the author or copyright holder of the question.</li>
			<li><b>Solutions:</b> Check out worked solutions for the questions.</li> 
			<li><b>Select License:</b> Use this link to choose the appropriate license for the question.</li>
			<li><b><a href="help#list">Open List</a>:</b> Use this link to return to the list in which the question is located.</li>
			<li><b>Publish:</b> Use this link to access the publishing interface and publish your question.</li>
			<li><b>Delete Question:</b> Use this link to delete your question.</li>
		</ul><br>
		Consult these links before you publish your question to make sure everything is set correctly.<br/>
	<br/>
		<center>
			<%=image_tag("draft.png", {:border => 1, :width => "60%", :title => "A view of a draft preview."})%>
		</center>
	
		<br/>
	<br/>
	</li>
	<li>When you are ready to publish your question click the "Publish..." link, check the box that affirms your commitment to the terms of the license, and click the "publish question" button at the bottom of the page.</li>
	<li><b>Congratulations!! You have written a multipart question</b></li>
</ol>