<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div class="sectionHeading" id="widget">Embed the Practice Widget on any webpage</div>
<p>Use our Practice Widget to embed multiple Quadbase questions into any web page. To use
the Practice Widget, you must first populate a list with questions. For more information about 
creating lists, <a href="http://quadbase.org/help#lists">go here</a>.

<div class="sectionHeadingNoUnder">To embed the Quadbase Practice Widget on your website:</div>

<ol>
  <li>Open the <a href="http://quadbase.org/lists">list</a> of questions you want to embed 
  using the Widget;</li>
  <li>Click <b>Embed</b>, located on the lefthand navigation menu;</li>
  	<p> <%=image_tag("embed_list.png", {:border => 1, :width => "75%", 
      :title => "Embed a question"})%></center><p/>
  <li>Copy and paste the provided HTML code directly to your own site.</li>

<p>The Practice Widget will include all questions from the list. Try it out!</p>

<iframe src="http://quadbase.org/practice?embed=true&ids=L234" width="525px" height="500px" frameborder="0"></iframe>
