<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<p>Sometimes you'll be writing a question and realize that your question has
some independent introductory text for which you could ask a number of questions. 
For example:</p>

<p style="margin-left:20px"><i>Tommy has two dogs and Jane has three times as many cats
  as Tommy has dogs.  How many pairs of 1 cat and 1 dog can you make from these pets?</i></p>
  
<p>When you write this question, you may see that there are other questions people
may want to write about Tommy's and Jane's pets.  For example, someone might ask
"How many more cats does Jane have than Tommy has dogs?"</p>

<p>Realizing that the intro sentence above ("Tommy has two dogs...") is independent of 
the question you are asking, Quadbase will let you pull out that text as the 
'introduction' for the question.  This doesn't change much in the way the question
is shown to a student, but it does tell Quadbase that other authors may want to
write new questions about this introduction.  When authors have built up a number of
unique questions about this introduction, users can then make a multipart question that has
the "Tommy has two dogs..." introduction followed by a number of questions about it.</p>

<p>Think of using the intro field as making a starter kit for a multipart question.
  When you break your question into an independent introduction followed by a question,
  you make it easy for other authors to ask different questions about your introduction.</p>
  
<p>All that said, an introduction is in no way required.  And if you realize you want to
  split a question you have already published into this style, you can simply make a new 
  version (or a copy) of the original question and move the content around.</p>