<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<p>Role requests are issued when someone who is working on a question wants you to collaborate. There are two question roles: author and copyright holder. Each role implies a different relationship to the question and grants different question permissions.</p>

<p>TODO write about the difference between "role requests for me" and "role requests for others"</p>