<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Role requests are issued when someone who is working on a question wants you to collaborate. There are two question roles: author and copyright holder. Each role implies a different relationship to the question and grants different question permissions.</p>

<p>TODO write about the difference between "role requests for me" and "role requests for others"</p>