<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div class="sectionHeading" id="Simple_Questions">Simple Questions</div>
<p>Simple Questions contain a question and optional multiple choice answers.</p>
<div class="sectionHeadingNoUnder">How to Write a Simple Question</div>
<br/>
<ol>
<li>Click on the "Write a question!" tab and </li>
<li>Select the leftmost of the three question icons labeled Simple Question</li>
<li>You can add introductory text to your question by clicking the "Add introductory text that can be shared by multiple questions" link near the top of the page, although this is optional.</li>
<li>Write your simple question in in the "Question text" box <br/>
	<br/>
	<center>
	<%=image_tag("question_text.png", {:border => 1, :width => "60%", :height => "60%", :title => "The question editing interface."})%>
	</center>
<br/>
	<br/></li>
<li><br>
	If you would like to add multiple choice answers, locate and select the "Add a multiple-choice answer" link under the text box. Add your answer to the answer choice text box. Be sure to select whether the answer is "Right" or "Wrong". At least one answer must be indicated as the "Right" answer. Continue adding answers for as many answer choices as you need.<br/>
	<br>
	<div class="notebox">Note: If you choose to add multiple choice answers, you must have 2 or more multiple choice answers for your question to be valid. You always have the choice not to have any answers.</div><br/>
	<br/>
	<center>
	<%=image_tag("answer_choice.png", {:border => 1, :title => "The answer choice editing box."})%>
	</center>
<br/>
	<br/></li>
<li>Once you have added all the answer choices you desire, click on the save draft button at the bottom of the page, this will save a draft of your simple question.</li>
<li>Next to your draft you will find several links such as: 
	<br/>
	<ul>
		<li><b>Show Source:</b> Use this link to make the marked-up source of the question visible.</li> 
		<li><b><a href="help/authoring">Edit Question</a>:</b> Use this link to return to the question editing interface.</li>
		<li><b><a href="help#roles">Edit Roles</a>:</b> Use this link to assign the author or copyright holder of the question.</li>
		<li><b>Solutions:</b> Check out worked solutions for the questions.</li> 
		<li><b>Select License:</b> Use this link to choose the appropriate license for the question.</li>
		<li><b><a href="help#list">Open List</a>:</b> Use this link to return to the list in which the question is located.</li>
		<li><b>Publish:</b> Use this link to access the publishing interface and publish your question.</li>
		<li><b>Delete Question:</b> Use this link to delete your question.</li>
	</ul><br>
	Consult these links before you publish your question to make sure everything is set correctly.<br/>
	<br/>
	<center>
	<%=image_tag("draft.png", {:border => 1, :width => "60%", :title => "A view of a draft preview." })%>
	</center>
<br/>
	<br/>
</li>
<li>When you are ready to publish your question click the "Publish..." link, check the box that affirms your commitment to the terms of the license, and click the "publish question" button at the bottom of the page.</li>
<li><b>Congratulations! You have written a simple question.</b></li>
</ol>