<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% # Clients of this partial must supply the following variable:
   # commentable
%>
<div id="comments">
  <%= link_to "Show Comments (" + commentable.comment_thread.comments.count.to_s + ")",
        polymorphic_path([commentable, :comments]), :remote => true %>
</div>
