<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% human_field_names ||= {} %>

<% if target.errors.any? %>  
  <div id="errorExplanation">  
    <h2>There were some problems with your request:</h2>  
    <ul>  
    <% target.errors.each do |attr,msg| %>  
      <li><%= !human_field_names[attr.to_s].nil? ? 
              human_field_names[attr.to_s] : 
              attr.to_s.titleize %> <%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
<% end %>