<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div class="sub_section">
  <div class="sub_section_heading"><%= title.html_safe %></div>
  
  <div class="sub_section_body">
    <%= body %>  
  </div>
</div>