<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Editing Project") %>

<% @include_jquery = true %>

<%= render 'form' %>

<br/>
<div class="sectionHeadingNoUnder">Members</div>

<div style="padding: 0 15px">
  <%= render :partial => 'project_members/member_list' %>
</div>

<br/>

<%= link_to "Add members ...", new_project_project_member_path(@project), :remote => true %>      

<% @links = [ link_to('Show Project', @project), 
              link_to('My Projects', projects_path) ] %>
