# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
# License version 3 or later.  See the COPYRIGHT file for details.

# This file contains overrides that are specific to individual developers.  Rename
# this file "developer_settings.yml" and change your options accordingly.  Do not
# commit developer_settings.yml to the repository (as these settings are only for 
# you).

# This is the path for ImageMagick commands (on linux, use "which convert" to find
# the path).
paperclip_command_path: /usr/bin