<p>You must agree to the following terms of use to generate an API key.</p>

<p><i>Note that agreeing to these terms will permanently delete any existing API key you already have.</i></p>

<p>By clicking "I agree" below, you agree that:</p>

<ol>
  <li>Your usage of the Quadbase API can be revoked at any time for any reason.  Typical reasons for revokation include abuse or spamming the system.</li>
  <li>These terms can change at any time.</li>
</ol>

<p>If you do not agree, just close this popup.</p>

<%= form_for [current_user, @api_key], :method => :post, :remote => true do |f| %>
  <%= f.submit "I agree", :class => submit_classes, :onclick => please_wait_js %>
<% end %>
