<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<%= pageHeading("An unknown error has occurred") %>

<p>Yikes! Something bad happened here!</p>

<p>An automated message has been sent to the Quadbase development team.  If you have a moment, it'd be very helpful if you could also send us an email (to <%= mail_to "support@quadbase.org" %>) describing what you did that caused this error screen to appear.</p>
