<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Sign in") %>

<%= render "devise/sessions/new"%>


<br/>
<p>Don't have an account yet? <%= link_to "Sign up", new_user_registration_path %>.</p>
<p>Need help with your account?  <%= link_to "Click here", account_help_path %>.</p>