<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<%= pageHeading("Sign in") %>

<%= render "devise/sessions/new"%>


<br/>
<p>Don't have an account yet? <%= link_to "Sign up", new_user_registration_path %>.</p>
<p>Need help with your account?  <%= link_to "Click here", account_help_path %>.</p>