<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<table class="list" width="70%">
   <tr>
      <th width="95%">Name</th>
      <th width="5%"></th>
   </tr>
   <tr id="none_row" <% if !@project.project_members.empty? %>style="display:none"<% end %>>
      <td colspan="2">None</td>
   </tr>
   <tbody id="project_member_list_tbody">
   
<% @project.project_members.each do |project_member| %>
  <%= render :partial => 'project_members/member_list_row', :locals => {:project_member => project_member} %>
<% end %>

   </tbody>
</table>


</tbody>
