<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% if !question.question_setup.nil? %>
   <div class="quad-question_setup">
      <%= question.question_setup.content_html.html_safe %>
   </div>
<% end %>

<% if question.child_question_parts.empty? %>

  [No question parts provided yet]

<% else %>

  <table>
  <% question.child_question_parts.each do |part| %>
    <% child_question = part.child_question %>
      <tr>
        <td valign="top" class="quad-part_index"><%= part.order %>)</td>
        <td><%= render :partial => 'simple_questions/content_and_answers', 
                       :locals => { :question => child_question } %></td>
      </tr>    
  <% end %>
  </table>

<% end %>
