<% if answer_index %>

  <p>You chose <b>(<%= choice_letter(answer_index) %>)</b></p>

  <%= render :partial => 'an_answer', :locals => { :question     => @question,
                                                   :phrase       => "You chose answer",
                                                   :answer_index => answer_index } %>

  <% correct_answer_choice_indices = @question.try(:correct_answer_choice_indices) %>

  <% if correct_answer_choice_indices.include?(answer_index) %>
    <span id="student_exercise_correct_message" style="color:green"><p><b>Your answer is correct</b></p></span>
  <% else %>
    <span id="student_exercise_incorrect_message" style="color:red"><p><b>Your answer is incorrect.</b></p></span>
  <% end %>

<% end %>



