<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% # Clients of this partial must provide the following variables:
   # question
   # solutions
%>


<div>
  <div id="solution_list">

    <% QuestionPart.where(:multipart_question_id => @question.id).each do |multipart_question| %>
      <% child_question = multipart_question.child_question %>
      <% solution = child_question.solutions.first %>

      <div style="border-bottom: 1px solid #aaa; margin: 15px 0px 30px 0px">
      <div id="PageHeading"><u>Part <%= multipart_question.order %>:</u>
      <% if solution != nil %>
      </div> <%# did weird thing with div tag to prevent line break here and below %>
        <%= render :partial => 'solutions/single_solution', :locals => {:solution => solution,
                                                                        :show_link => true} %>
      <% else %>
      <b style="font-size:14px">No current solutions</b></div> <%# did a weird thing with the div close tag here to prevent a line break %>
      <% end %>

      
      </div>
    <% end %>
  </div>
</div>